current_shell=$(echo $SHELL)
command_exists () {
    command -v "$1" >/dev/null 2>&1
}

change_alias () {
    # if $(type "$2" &> /dev/null) ; then
    if command_exists "$2" ; then
        alias "$1"="$3"
    fi
}

# parallel copy
pcp () {
    if command_exists 'parallel' ; then
        last=${@:$#} # last parameters
        other=${@:1:$# -1}  # all parameters except the last
        echo "parallel --bar cp -r {} $last ::: $other"
        parallel --bar cp -r {} $last ::: $other
    else
        echo "parallel not installed"
    fi
}

# ============alias=============

change_alias 'c' 'xclip' "xclip -selection clipboard"
change_alias 'cn' 'xclip' "tr -d '\n' | xclip -selection clipboard"
change_alias 'pcn' 'xclip' "pwd | tr -d '\n' | xclip -selection clipboard"

change_alias 'dl' 'aria2c' 'aria2c -x 16 -s 16 --retry-wait=1'
change_alias 'fd' 'fdfind' 'fdfind'

change_alias 'l'  'exa' 'exa -laghH'
change_alias 'la' 'exa' 'exa -a'
change_alias 'll' 'exa' 'exa -lghH'

change_alias 'bcat' 'batcat' 'batcat'
change_alias 'bcat' 'bat' 'bat'

change_alias 'op' 'fasd' 'fasd -a -e xdg-open `pwd`'

# slove emacs Chinese display problem
alias emacs='env LC_CTYPE=zh_TW.UTF-8 emacs'

# Common shell functions
alias less='less -r'
alias tf='tail -f'
alias cl='clear'
alias rm='rm -rf'
alias du='du -h'
alias df='df -h'
alias rsync='rsync -avh'

# compress & extract
# https://note.drx.tw/2008/04/command.html
# tar.gz
alias targz='tar zcvf'
alias etargz='tar zxvf'
# tar.xz
alias tarxz='tar Jcvf'
alias etarxz='tar Jxvf'
# tar.bz2
alias tarbz2='tar jcvf'
alias etarbz2='tar jxvf'
# zip
alias zip='zip -r'
# zstd
# https://github.com/facebook/zstd
# https://linuxhint.com/zstd-files-compression-bash-script/
alias tarzst='tar --zstd -cvf'
alias etarzst='tar --zstd -xvf'
alias ttarzst='tar --zstd -tvf'
# tar -t with depth
if grep -q "zsh" <<< "$current_shell";  then
	alias -g D2="| awk -F/ '{if (NF<2) print }'"
	alias -g D3="| awk -F/ '{if (NF<3) print }'"
	alias -g D4="| awk -F/ '{if (NF<4) print }'"
fi


alias ka9='killall -9'
alias k9='kill -9'
alias pk9='pkill -9'

alias suvi='sudo -E vi'

alias dk='docker'

alias lsofp='sudo lsof -i -P -n | grep LISTEN'
alias netport='sudo netstat -tulpn | grep LISTEN'

alias psgp='ps -ef | grep -E'

# quick edit config
alias vi='vim'
alias vig='vi ~/.gitconfig'
alias viz='vi ~/.zshrc'
alias via='vi ~/.aliases'
alias viba='vi ~/.bash_aliases'

# open ptt
alias ptt='~/shdennlin-wiki/command/ptt_autologin.sh'
