command_exists () {
    type "$1" &> /dev/null ;
}

change_alias () {
    if $(type "$2" &> /dev/null) ; then
        alias "$1"="$3"
    fi
}

change_alias 'c' 'xclip' "xclip -selection clipboard"
change_alias 'cn' 'xclip' "tr -d '\n' | xclip -selection clipboard"
change_alias 'pcn' 'xclip' "pwd | tr -d '\n' | xclip -selection clipboard"

change_alias 'wget' 'aria2c' 'aria2c -x 16 -s 16 --retry-wait=1'
change_alias 'fd' 'fdfind' 'fdfind'

change_alias 'ls' 'exa' 'exa'
change_alias 'l'  'exa' 'exa -laghH'
change_alias 'll' 'exa' 'exa -lghH'
change_alias 'la' 'exa' 'exa -a'

change_alias 'bcat' 'batcat' 'batcat'
change_alias 'bcat' 'bat' 'bat'

# slove emacs Chinese display problem
alias emacs='env LC_CTYPE=zh_TW.UTF-8 emacs'

# Common shell functions
alias less='less -r'
alias tf='tail -f'
alias cl='clear'
alias rm='rm -rf'

# Zippin
alias gz='tar -zcvf'

alias ka9='killall -9'
alias k9='kill -9'

alias suvi='sudo -E vi'

alias d='docker'

alias lsofp='sudo lsof -i -P -n | grep LISTEN'

# quick edit config
alias via='vi ~/.dotfiles/.aliases'
alias vig='vi ~/.dotfiles/.gitconfig'
alias viz='vi ~/.dotfiles/.zshrc'

alias sshn='ssh -i ~/.ssh/itintern itintern.nb.ubuntu@'
