[data]
  # Set "true" if you want to apply the configuration
  applyGit    = true
  applyNeovim = true
  applyTmux   = true
  applyZsh    = true
  # If you want to install useful packages, set "true"
  # package list is in {{ .chezmoi.sourceDir }}, you can use `chezmoi cd` to go to the source directory of chezmoi quickly
  # and find the list in `.chezmoidata/packages.toml`
  installUsefulPackages = true

# If you select to apply Git configuration, fill in the following fields
[data.git]
  name = ""
  username = ""
  email = ""
  # If you want to use gpg sign, set gpgsign to "true" and set signingkey
  gpgsign = "false"
  signingkey = ""
