{{ if not .applyGit }}
.gitconfig
{{ end }}

{{ if not .applyNeovim }}
.config/nvim
nvim-plugin-install.sh
{{ end }}


{{ if not .applyTmux }}
.tmux.conf
{{ end }}

{{ if not .applyZsh }}
.zsh
.zshrc
.p10k.zsh
{{ end }}

{{ if not .installUsefulPackages }}
install-packages-darwin.sh
install-packages-linux.sh
{{ end }}