[data]
  # Set "true" if you want to apply the configuration
  applyGit    = true
  applyNeovim = true
  applyTmux   = true
  applyZsh    = true

# If you select to apply Git configuration, fill in the following fields
[data.git]
  name = ""
  username = ""
  email = ""
  # If you want to use gpg sign, set gpgsign to "true" and set signingkey
  gpgsign = "false"
  signingkey = ""
