{{ if not .applyGit }}
.gitconfig
{{ end }}

{{ if not .applyNeovim }}
.config/nvim
{{ end }}


{{ if not .applyTmux }}
.tmux.conf
{{ end }}

{{ if not .applyZsh }}
.zsh
.zshrc
.p10k.zsh
{{ end }}

{{ if not .installUsefulPackages }}
00-install-pre-requisites-darwin.sh
install-packages-darwin.sh
{{ end }}