[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	email = shawndennislin@gmail.com
	name = Shawn Dennis Lin
	username = shdennlin

[core]
	longpaths = true
	editor = vim
	autocrlf = input
	safecrlf = true

[credential]
	helper = store

[alias]
	######## add ########
	a   = add
	aa  = add -A
	########  branch ########
	b   = branch
	ba  = branch -a
	bm  = branch -m       #branch rename
	bd  = branch -d       #branch delete
	######## checkout ########
	co  = checkout        #checkout branch
	cob = checkout -b     #checkout new branch       

	com  = checkout main
	comm = checkout master
	cod  = checkout develop
	cos  = checkout source
	coh  = checkout hotfix
	cor  = checkout release
	cof  = checkout feature

	clf  = clean -xdf	   #Discard file
	cla = checkout . && git clean -xdf #Discard local changes
	######## commit ########
	cm  = commit -m       #commit message
	ca  = commit --amend
	cam = commit -m --amend
	ci  = commit --interactive
	######## clone ########
	cl = clone
	######## diff ########
	d   = diff
	dc  = diff --cached
	dHH = diff HEAD^ HEAD
	######## fetch ########
	f = fetch
	######## grep ########
	g = grep
	######## pull ########
	pl = pull
	plr = pull --rebase
	plo = pull origin
	plor = pull --rebase origin
	######## log ########
	l   = log --graph --oneline -10
	lga = log --graph --pretty=format:'%C(yellow)%h%Creset %ad |%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset %ad |%C(red)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -10
	lb  = log --graph --oneline --branches --remotes 
	la  = log --graph --oneline --all -15
	laa  = log --graph --oneline --all
	######## merge ########
	m   = merge
	me  = merge --edit      #merge and edit message
	mn  = merge --no-commit #merge but don't commit
	ma  = merge --abort
	mc  = merge --continue
	msk = merge --skip
	######## remote ########
	rm   = remote
	rma  = remote add
	rmao = remote add origin
	rmn  = remote rename
	rmx  = remote remove
	rmv  = remote -v
	rms  = remote set-url
	rmp  = remote prune origin
	######## reset and restore ########
	rsH = reset HEAD   #Unstage
	rs  = reset			   #Unstage all
	rt  = restore		   #Discard
	######## reflog ########
	rfa = reflog
	rf  = reflog -20
	######## rebase ########
	rb   = rebase
	rbi  = rebase --interactive
	rba  = rebase --abort
	rbc  = rebase --continue
	rbsk = rebase --skip	
	######## push ########
	ps   = push
	psu  = push -u
	psuo = push -u origin
	psf  = push -f
	######## status ########
	s  = status --column
	ss = status -s --column
	sb = status --column -b #branch
	######## sub ########
	sub = submodule
[init]
	defaultBranch = main
